@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
body {
  background: #002e4d;
  width: 100%;
  color: beige;
}
a {
  color: beige;
}
.onPage {
  color: #004d66;
}
/* KEYFRAMES */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes about-me-load {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes skills-section-load {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes contact-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slow-fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: beige;
  }
}
/* HEADER STYLES */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 2.5px beige;
  width: 100%;
  background: #4293b9;
}
.header a {
  text-decoration: none;
}
.header h1 {
  font-family: "Roboto Condensed";
  font-weight: bold;
  color: beige;
  font-size: 24px;
  letter-spacing: 0.7px;
  padding: 20px 0 20px 45px;
  cursor: pointer;
}
.header span {
  color: #004d66;
  font-size: 27px;
}
.header nav {
  width: 35%;
  margin-right: 50px;
  font-family: "Roboto Condensed";
}
.header nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  color: beige;
}
.header nav ul li a:hover {
  cursor: pointer;
  color: #004d66;
}
/* END HEADER STYLES */
.spacer {
  height: 70px;
  background: #002e4d;
}
/* START HOMEPAGE STYLES */
#home {
  background: #002e4d;
  padding-bottom: 20px;
}
.home-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 30px;
}
.picture-section {
  width: 33%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2.5px solid beige;
  border-radius: 10px;
  height: 600px;
  padding-top: 10px;
  margin-left: 50px;
}
.picture-section img {
  height: 275px;
  width: 275px;
  border-radius: 50%;
  object-fit: cover;
}

.picture-section h2 {
  font-size: 40px;
  margin-top: 25px;
}
.picture-section h3 {
  font-size: 25px;
  margin-top: 25px;
}
.picture-section h4 {
  font-size: 20px;
  margin-top: 25px;
  line-height: 24px;
  text-align: center;
}
.picture-section h5 {
  margin-top: 10px;
}
.icons {
  font-size: 40px;
  margin-top: 25px;
}
.icons .fab {
  color: beige;
}
.icons .fas {
  color: beige;
}
.icons .fas:hover,
.icons .fab:hover {
  transform: scale(1.25);
}
.about-me {
  text-align: left;
  font-family: "Inter";
  width: 50%;
}
.about-me-div {
  width: 270px;
}
.about-me h1 {
  font-size: 56px;
  margin-bottom: 25px;
  color: #0099cc;
  overflow: hidden;
  border-right: 0.1em solid beige;
  white-space: nowrap;
  width: 0;
  animation: typing 1.8s steps(15, end) forwards 0.1s, blink 1s infinite ease-in-out 0.5s;
}
.about-me p {
  font-size: 20px;
  width: 700px;
  line-height: 26px;
  animation: about-me-load 0.6s ease-in 2.1s;
  animation-fill-mode: forwards;
  transform: translateY(-10px);
  opacity: 0;
}
.contact-info {
  margin-top: 35px;
  width: 100%;
}
.contact-info span {
  color: #0099cc;
}
.contact-info a {
  color: beige;
  text-decoration: none;
}
/* END HOMEPAGE STYLES */

/*START SKILLS STYLES */
#skills {
  width: 100%;
}
.education-h1 {
  font-size: 46px;
  text-align: center;
  padding-top: 20px;
  animation: slow-fade 1s ease-in 0.1s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.education-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  animation: about-me-load 0.7s ease-in 0.5s;
  animation-fill-mode: forwards;
  transform: translateY(-10px);
  opacity: 0;
}
.school {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.degree {
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding-bottom: 10px;
}
.degree h2 {
  padding-left: 10px;
}
.location {
  text-align: center;
  color: #0099cc;
  font-size: 19px;
  line-height: 24px;
}
.location a {
  color: #0099cc;
}
.skills-spacer {
  height: 1px;
  background-color: #0099cc;
  margin-top: 35px;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 1s steps(60, end) forwards 1s;
}
.skills-h1 {
  font-size: 46px;
  text-align: center;
  padding-top: 20px;
  animation: slow-fade 1s ease-in 1.9s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.skills-section {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  padding-bottom: 20px;
}
.skills {
  width: 400px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 0;
}
.skills.one {
  animation: about-me-load 0.6s ease-in 2.2s;
  animation-fill-mode: forwards;
  transform: translateY(-10px);
  opacity: 0;
}
.skills.two {
  animation: about-me-load 0.6s ease-in 2.4s;
  animation-fill-mode: forwards;
  transform: translateY(-10px);
  opacity: 0;
}
.skills.three {
  animation: about-me-load 0.6s ease-in 2.6s;
  animation-fill-mode: forwards;
  transform: translateY(-10px);
  opacity: 0;
}
.skills.four {
  animation: about-me-load 0.6s ease-in 2.8s;
  animation-fill-mode: forwards;
  transform: translateY(-10px);
  opacity: 0;
}
.skills.five {
  animation: about-me-load 0.6s ease-in 3s;
  animation-fill-mode: forwards;
  transform: translateY(-10px);
  opacity: 0;
}
.skills.six {
  animation: about-me-load 0.6s ease-in 3.2s;
  animation-fill-mode: forwards;
  transform: translateY(-10px);
  opacity: 0;
}
.skills p {
  font-size: 18px;
  padding-top: 7px;
}
.skills .fab,
.skills .fas {
  font-size: 54px;
  padding-bottom: 15px;
  color: #0099cc;
}
/* END SKILLS STYLES */

/* START PROJECTS STYLES */
#projects {
  width: 100%;
}
.projects-container {
  display: flex;
  flex-direction: row;
}
.projects-header {
  display: flex;
  margin-top: 60px;
  align-items: flex-start;
  justify-content: center;
  font-size: 42px;
  width: 25%;
}
.websites-container {
  width: 75%;
  margin-top: 20px;
}
.websites {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.image {
  width: 300px;
  background-color: beige;
  padding: 100px;
}
.website-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.description-name {
  font-size: 30px;
}
.description {
  font-size: 22px;
  padding-top: 15px;
}
/* END PROJECTS STYLES */

/* START CONTACT STYLES */
#contact {
  width: 100%;
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 115px;
  animation: contact-load 0.7s ease-in 0.1s;
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}
.contact-box {
  display: flex;
  border: 2px solid beige;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
}
.contact-h1 {
  font-size: 50px;
  color: #0099cc;
  text-align: center;
  padding-bottom: 25px;
}
.contact-p {
  font-size: 24px;
}
.button-div {
  text-align: center;
  padding-top: 40px;
}
.button {
  font-size: 24px;
  padding: 20px;
  width: 25%;
  color: #0099cc;
  background-color: transparent;
  border: 2px solid #068ec1;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.1);
}
