@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
body {
  background: #002e4d;
  width: 100%;
  color: beige;
}
a {
  color: beige;
}
.onPage {
  color: #004d66;
}

/* HEADER STYLES */
@keyframes header-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes section-load-left {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes section-load-right {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0);
  }
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 2.5px beige;
  width: 100%;
  background: #006680;
  animation: header-load 0.8s ease-out;
}
.header a {
  text-decoration: none;
}
.header h1 {
  font-family: "Roboto Condensed";
  font-weight: bold;
  color: beige;
  font-size: 24px;
  letter-spacing: 0.7px;
  padding: 20px 0 20px 45px;
  cursor: pointer;
}
.header span {
  color: #004d66;
  font-size: 27px;
}
.header nav {
  width: 35%;
  margin-right: 50px;
  font-family: "Roboto Condensed";
}
.header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 21px;
  color: beige;
}
.header nav ul li a:hover {
  cursor: pointer;
  color: #004d66;
}
/* END HEADER STYLES */
.spacer {
  height: 70px;
  background: #002e4d;
}
/* START HOMEPAGE STYLES */
#home {
  background: #002e4d;
  height: 650px;
}
.home-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 30px;
}
.picture-section {
  width: 33%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2.5px solid beige;
  border-radius: 10px;
  height: 600px;
  padding-top: 10px;
  margin-left: 50px;
  animation: section-load-left 1.5s ease-in-out;
  animation-fill-mode: forwards;
  transform: translateX(-150%);
}
.picture-section img {
  height: 275px;
  width: 275px;
  border-radius: 50%;
  object-fit: cover;
}
.picture-section h2 {
  font-size: 40px;
  margin-top: 25px;
}
.picture-section h3 {
  font-size: 25px;
  margin-top: 25px;
}
.picture-section h4 {
  font-size: 20px;
  margin-top: 25px;
  line-height: 24px;
  text-align: center;
}
.picture-section h5 {
  margin-top: 10px;
}
.icons {
  font-size: 40px;
  margin-top: 25px;
}
.icons .fab {
  color: beige;
}
.icons .fas {
  color: beige;
}
.icons .fas:hover,
.icons .fab:hover {
  transform: scale(1.25);
}
.about-me {
  text-align: left;
  font-family: "Inter";
  width: 50%;
  animation: section-load-right 1.5s ease-in-out;
  animation-fill-mode: forwards;
  transform: translateX(150%);
}
.about-me h1 {
  font-size: 56px;
  margin-bottom: 25px;
  color: #0099cc;
}
.about-me p {
  font-size: 20px;
  width: 700px;
  line-height: 26px;
}
.contact-info {
  margin-top: 35px;
  width: 100%;
}
.contact-info span {
  color: #0099cc;
}
.contact-info a {
  color: beige;
  text-decoration: none;
}
/* END HOMEPAGE STYLES */

/*START SKILLS STYLES */
#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#skills h1 {
  font-size: 56px;
}
/* END SKILLS STYLES */

/* START PROJECTS STYLES */
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#projects h1 {
  font-size: 56px;
}
